<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create News</h4>
</div>
<div class="modal-body" >
    <div class="buyback-results-container">
        <div class="form-group">
            <input type="text" class="form-control" id="news_subject" placeholder="Subject">
        </div>
        <div class="form-group">
            <textarea rows="8" cols="116" id="news_content"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    <button type="button" id="save_news" class="btn btn-success" data-dismiss="modals"><i class="fa fa-floppy-o"></i> Save</button>
</div>

{% block javascripts %}

<script type="text/javascript">
$(document).ready(function (e) {

    $('#news_content').wysihtml5();

    $("#save_news").click(function(e) {

        $.post('{{path('ajax_create_news')}}', {subject: $("#news_subject").val(), content: $("#news_content").val()},
            function(response)
            {
                $("#news_modal").modal('hide');
                $("#news-table TR:first").after("<tr><td>Now</td><td>" + $("#news_subject").val() + "</td><td>{{app.user.username}}</td></tr>");
                $("#news-table TR:nth-child(2)").effect("highlight", {color: "#dff0d8"}, 1000);
                $("#news-table TR:nth-child(2)").effect("pulsate", {times: 2});
            }
        , "html");
    });
});
</script>

{% endblock %}
