{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-newspaper-o"></i> News</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" id="create_news_button"><i class="fa fa-plus"></i> Create Item</button>
                  </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped" id="news-table">
                    <tr>
                        <th style="width:150px;">Date</th>
                        <th>Subject</th>
                        <th style="width:200px;">Author</th>
                    </tr>
                    {% for item in news %}
                        <tr>
                            <td>{{item.createdon|date("m/d/Y H:i")}}</td>
                            <td>{{item.subject}}</td>
                            <td>{{item.author}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>

<div class="modal fade" id="news_modal">
  <div class="modal-dialog">
    <div class="modal-content" id="news_modal_content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("#create_news_button").click(function(e)
        {
            $('#news_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_create_news')}}',
                function(response)
                {
                    $( "#news_modal_content" ).html( response );
                }
            , "html");
        });
    });

    function submitQuickEstimate()
    {

    }

</script>

{% endblock %}
