/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/

dgmTypeAttributes.sql

dgmTypeAttributes.sql.bz2

invGroups.sql

invGroups.sql.bz2

invItems.sql

invItems.sql.bz2

invMarketGroups.sql

invMarketGroups.sql.bz2

invTypeMaterials.sql

invTypeMaterials.sql.bz2

invTypes.sql

invTypes.sql.bz2

mapSolarSystems.sql

mapSolarSystems.sql.bz2

composer.phar
