<div class="modal-content modal-danger">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Error</h4>
    </div>
    <div class="modal-body" >
        <p>An error has occured!  Please email details to Lorvulk Munba (in game) or binary.god@gmail.com (out of game).</p>
        <dl>
            <dt>Error Details:</dt>
            <dd>{{message}}</dd>
        </dl>
        <p>Please try to be as concise as possible so I can be helpful!!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Ok</button>
    </div>
</div>
