{% if app.session.flashbag.has('success') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {% for flash_message in app.session.flashbag.get('success') %}
            <i class="fa fa-check"></i> {{ flash_message }}
    {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('notice') %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {% for flash_message in app.session.flashbag.get('notice') %}
            <i class="fa fa-info"></i> {{ flash_message }}
    {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('warning') %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {% for flash_message in app.session.flashbag.get('warning') %}
            <i class="fa fa-exclamation-triangle"></i> {{ flash_message }}
    {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {% for flash_message in app.session.flashbag.get('error') %}
            <i class="fa fa-ban"></i> {{ flash_message }}
    {% endfor %}
    </div>
{% endif %}
