<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Site News</h3>
        <div class="box-tools pull-right">
            <span class="label label-success">New!</span>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tr>
                <th style="width:70px;">Date</th>
                <th>Subject</th>
            </tr>
            <tr>
                <td>11/1/2015</td>
                <td>New Site Coming!</td>
            </tr>
            <tr>
                <td>11/1/2015</td>
                <td>New Site Coming!</td>
            </tr>
            <tr>
                <td>11/1/2015</td>
                <td>New Site Coming!</td>
            </tr>
        </table>
    </div><!-- /.box-body -->
    <!--<div class="box-footer">
        The footer of the box
    </div>--><!-- box-footer -->
</div><!-- /.box -->
