{% form_theme form 'forms/my_bootstrap_layout_no_label.html.twig' %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-7">
        {{ form_row(form.items, {'attr': {'placeholder': 'Paste items from game here', 'style': 'height:200px;'}}) }}
        <div id="buyback_submits">
            <input type="button" id="buyback_clear" class="btn btn-danger " value="Clear">
            <input type="button" id="buyback_quick_submit" class="btn btn-success " value="Submit">
        </div>
    </div>
    <div class="col-md-5" id="buyback_instructions">
        <h3>How to use</h3>
        <p>Copy and paste items from EVE Online to the box on the left.  You can paste from the Inventory screen IF you have it set to table.</p>
    </div>
</div>
{{ form_end(form) }}

<div class="modal fade" id="estimate_modal">
  <div class="modal-dialog" id="estimate_modal_content">
    <div class="modal-content">
        <div class="modal-loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("#buyback_quick_submit").click(function(e)
        {
            $('#estimate_modal').modal({backdrop: "static"});
            submitQuickEstimate();
        });

        $("#buyback_clear").click(function(e) {

            $("#items").val('');
        });
    });

    function submitQuickEstimate()
    {
        $.post('{{path('ajax_estimate_buyback')}}', {items: $("#items").val()},
            function(response)
            {
                $( "#estimate_modal_content" ).html( response );
                //$('#buyback_quick_modal').modal({backdrop: "static"});
            }
        , "html");
    }

</script>

{% endblock %}
