<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">No Valid Items!</h4>
    </div>
    <div class="modal-body" >
        Please check your source, none of the items entered are valid Eve items.
    </div>
    <div class="modal-footer">
        <button type="button" id="closeDialog" class="btn btn-danger" data-dismiss="modal">Ok</button>
    </div>
</div>

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("#closeDialog").click(function(e)
        {
            $( "#base_modal_content" ).html( "" );
            $('#base_modal').modal('hide');
        });
    });

</script>

{% endblock %}
