{% extends 'igb_base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Step Three <small>Create and Submit contract</small></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <p>Please create a private 'Item Exchange' contract to <b>Omni Galactic</b> for the materials entered here.</p>
                <ol>
                    <li>Items should be contracted from 8P9-BM Empress Jamyl's Emporium (or other approved locations)</li>
                    <li>Copy and Paste the 'Amount' to the 'I will receive' field in the contract</li>
                    <li>Copy and Paste the 'Auth Code' to the 'Comment' field, this <strong>MUST</strong> be present if you wish to get paid!</li>
                </ol>
                <table class="table table-striped">
                    <tr>
                        <th>Amount</th>
                        <td>{{total_value|round()}}</td>
                    </tr>
                    <tr>
                        <th>Auth Code</th>
                        <td>{{auth_code}}</td>
                    </tr>
                </table>
                <div id="buyback_submits" class="right_justify_submits">
                    <a class="btn btn-info pull-left" href="{{ path('pages', {'chapter_slug': 'help', 'public_buyback': 'help_using_buyback'}) }}" target="_new">Help</a>
                    <a class="btn btn-info pull-right" href="{{ path('guest_buyback') }}">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}

{% endblock %}
