{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form method="post" action="{{ path('admin_core_settings') }}">
                    <div class="box-header with-border">
                        <!--<h3 class="box-title"><i class="fa fa-balance-scale"></i> Outstanding Material Sales</h3>-->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="maintenance_mode_base" class="control-label">Maintenance Mode</label>
                                    <p>Enabling Maintenance mode blocks anyone from logging in to the system.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox icheck" style="text-align:right;margin-right:30px;">
                                        <label>
                                            <input type="checkbox" id="maintenance_mode_base" {{ (model.MaintenanceMode == "1") ? 'checked' : '' }}/>
                                            <input type="hidden" id="maintenance_mode" name="maintenance_mode" value="{{ (model.MaintenanceMode == "1") ? "1" : "0" }}"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script>

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $(document).ready(function() {

        $('input').on('ifChecked', function(event){
            $("#maintenance_mode").val("1");
        });

        $('input').on('ifUnchecked', function(event){
            $("#maintenance_mode").val("0");
        });
    });

</script>

{% endblock %}
