# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
        database_host: database
        database_port: 3306
        database_name: amsys_db
        database_user: amsys_user
        database_password: password
        mailer_transport: smtp
        mailer_host: smtp.server
        mailer_port: 465
        mailer_user: no-reply@yourdomain.com
        mailer_password: password
        mailer_encryption: ssl
        mailer_auth_mode: login
        secret: 843hoaifdpiuhag8989[0qafholikd
        system_name_long: '<strong>NOPE</strong>sys'
        system_tab_name: 'NOPE Buyback Program'
        system_name_short: '<strong>NOPE</strong>sys'
        corp_ticker: NOPE
        corp_name: 'No Ostrich People Eaters'
        corp_url: 'https://nope.com'
        corp_copyright: 'Copyright 2017, No Ostrich People Eaters'
        contract_location: "8P9-BM Empress Jamyl's Emporium"
        contract_corp_name: 'NOPE Logistics'
        sso_client_id: sso_client_id
        sso_secret_key: sso_client_key
        sso_scopes: publicData esi-wallet.read_character_wallet.v1 esi-killmails.read_killmails.v1 esi-mail.send_mail.v1 esi-mail.read_mail.v1
        sso_scopes_todo: remoteClientUI esi-fleets.read_fleet.v1 esi-fleets.write_fleet.v1 esi-ui.open_window.v1