{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{tTransactions}}</h3>
                <p>Outstanding Contracts</p>
            </div>
            <div class="icon">
                <i class="fa fa-file-o"></i>
            </div>
            <a href="{{path('admin_transactions')}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-light-blue">
            <div class="inner">
                <h3>{{tUsers}}</h3>
                <p>Users</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="{{path('admin_users')}}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="modal fade" id="index_modal">
  <div class="modal-dialog">
    <div class="modal-content" id="index_modal_content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
