{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/fullcalendar.min.css') }}" />
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                {% if is_granted('ROLE_OFFICER') %}
                    <div class="alert alert-success alert-dismissable">
                        <h4 style="margin-bottom:0px;"><i class="icon fa fa-check"></i> You have write permissions</h4>
                    </div>
                {% endif %}
                <div id="calendar"></div>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('/js/moment.js') }}"></script>
    <script src="{{ asset('/js/fullcalendar.js') }}"></script>

    <script>

        $(document).ready(function() {

            //Date for the calendar events (dummy data)
            var date = new Date();
            var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear();

            $('#calendar').fullCalendar({

                {% if is_granted('ROLE_OFFICER') %}
                    dayClick: function(date, jsEvent, view)
                    {
                        //alert('Clicked on: ' + date.format());
                        createEvent(date.format());
                    },
                {% endif %}

                eventClick: function(calEvent, jsEvent, view)
                {
                    alert('Event: ' + calEvent.title);
                },
            });

        });

        function createEvent(date) {

            $.get('{{path('ajax_create_ops')}}', {date: date},
                function(response)
                {
                    $( "#base_modal_content" ).html( response );
                    $( '#base_modal' ).modal( {backdrop: "static"} );
                }
            , "html");
        }

    </script>

{% endblock %}
