{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!--<div class="box-header with-border">

            </div><!-- /.box-header -->
            <div class="box-body">
                Box Body
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>


{% endblock %}
