{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12" >
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-file-o"></i> Add Can</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        Box Body
                    </div><!-- /.box-body -->
                    <!--<div class="box-footer">
                        The footer of the box
                    </div>--><!-- box-footer -->
                </div><!-- /.box -->
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-file-o"></i> Participants</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        Box Body
                    </div><!-- /.box-body -->
                    <!--<div class="box-footer">
                        The footer of the box
                    </div>--><!-- box-footer -->
                </div><!-- /.box -->
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-file-o"></i> Op Stats</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        Box Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdfBox Bodyadsf
                        asdf
                        as
                        dfn
                        asdfasdf
                        asdfasdf
                    </div><!-- /.box-body -->
                    <!--<div class="box-footer">
                        The footer of the box
                    </div>--><!-- box-footer -->
                </div><!-- /.box -->
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-file-o"></i> Cans</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        Box Body
                    </div><!-- /.box-body -->
                    <!--<div class="box-footer">
                        The footer of the box
                    </div>--><!-- box-footer -->
                </div><!-- /.box -->
            </div>
        </div>
    </div>
</div>


{% endblock %}
