.rst-pro-admin
{
	margin: 20px;
	background: white;
	padding: 10px;
}
.rst-pro-admin H5
{
	margin: 10px;
}
.rst-pro-admin UL
{
	margin-left: 20px;
}
.rst-pro-admin LI
{
	margin-right: 20px;
}
.rst-pro-admin A
{
	width: 100%;
	display: block;
	padding: 8px;
	text-align: center;
	margin-bottom: 8px;
	/*+box-shadow: 0px 0px 7px 0px #A9A9A9;*/
	-moz-box-shadow: 0px 0px 7px 0px #A9A9A9;
	-webkit-box-shadow: 0px 0px 7px 0px #A9A9A9;
	box-shadow: 0px 0px 7px 0px #A9A9A9;
}
SPAN.chapterid
{
	display: block;
	/*width: 14px;*/
	float: left;
	padding-left: 4px;
	padding-right: 5px;
	margin-right: 5px;
	background-color: white;
	color: black;
	/*+border-radius: 3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: 700;
}
SPAN.topicid
{
	display: block;
	/*width: 14px;*/
	float: left;
	padding-left: 4px;
	padding-right: 5px;
	margin-right: 5px;
	background-color: black;
	color: white;
	/*+border-radius: 3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: 700;
}
