{% extends 'secure_base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-user "></i> {{ userCharacterName }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover" id="zLosses">
                                <thead>
                                <tr>																	<th class='hidden'>ID</th>																	<th>Icon</th>
                                    <th>Date</th>
                                    <th>Ship Type</th>
                                    <th>Isk Amount</th>
                                    <th>SRP Status</th>
                                </tr>
                                </thead>
                                <tbody>
									<tr>										<td colspan='6'>											<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>										</td>									</tr>								
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function (e) {		$.get('{{path('ajax_mylosses_losses')}}', {}, function(response) {					$( "#zLosses ").parent().html( response );						$('#zLosses').DataTable({				"order": [[ 0, "desc" ]]			});						$(document).on("click", "a.requestSRP", function() {							var killID = $(this).data('killid');							$('#base_modal').modal({backdrop: "static"});				$("#base_modal_content").html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");				$.post('{{path('srp_estimate')}}', {'zkillID': killID}, function(response) {					$("#base_modal_content" ).html( response );				}, "html");			});					}, "html");
    });
</script>

{% endblock %}
