{% extends 'secure_base.html.twig' %}

{% block body %}

    <section class="content-header">
        <h1>
            Contract Validation
            <small>Compares expected items with actual contracts</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-9">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Contract Details</h3>
                    </div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Instructions</h3>
                    </div>
                    <div class="box-body">
                        <ol>
                            <li>Open Contract in game</li>
                            <li>Right-click anywhere in header area of contract (example: by 'Info from Issuer')</li>
                            <li>Select 'Copy'</li>
                            <li>Paste this information into <b>Details</b> (only do this once)</li>
                            <li>From the contract in game, click on item in the items list</li>
                            <li>Press 'CTRL+A' to select all</li>
                            <li>Press 'CTRL+C' to copy</li>
                            <li>Paste this information into <strong>Items</strong></li>
                            <li>Click 'Validate' button</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="estimate-modal">
        <div class="modal-dialog">
            <div class="modal-content" id="estimate-modal-content">
                <div class="modal-loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $(document).ready(function() {



        });

    </script>

{% endblock %}