{% extends 'public_base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Suggestion Box <small>Type message below to submit a suggestion!</small></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                {% form_theme form 'forms/my_bootstrap_layout_no_label.html.twig' %}
                {{ form_start(form) }}
                    {{ form_row(form.message, {'attr': {'placeholder': 'Type message here', 'style': 'height:400px;'}}) }}
                    <div id="buyback_submits" class="right_justify_submits">
                        <input type="submit" id="buyback_quick_submit" class="btn btn-success " value="Send Now">
                    </div>
                {{ form_end(form) }}
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>
{% endblock %}

{% block javascripts %}


{% endblock %}
