{% extends 'doc_base.html.twig' %}

{% block body %}
    <div role="navigation" aria-label="breadcrumbs navigation">
        <hr>
    </div>
    <div role="main" class="document" itemscope="itemscope">
        <div itemprop="articleBody">
            <h1>{{topic.Title}}</h1>
            {{topic.Content}}
        </div>
    </div>
    <footer>
        <hr>
        <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
            <a href="obtaincharacterid.html" class="btn btn-neutral float-right" title="Obtaining Character ID" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
            <a href="implicitflow.html" class="btn btn-neutral" title="SSO For Browser Apps" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
        </div>
        <div role="contentinfo">
            <p>© Copyright 2016, Allied Industries.</p>
        </div>
    </footer>
{% endblock %}
