{% extends 'doc_public.html.twig' %}

{% block body %}
    <div role="navigation" aria-label="breadcrumbs navigation">
        <a href="{{ path('homepage') }}" class="btn btn-primary" title="Login"><i class="fa fa-key" aria-hidden="true"></i> Login</a>
        <hr>
    </div>
    <div role="main" class="document" itemscope="itemscope">
        <div itemprop="articleBody">
            <h1>{{topic.Title}}</h1>
            {{topic.Content|raw}}
        </div>
    </div>
    <footer>
        <hr>
        <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">

        </div>
        <div role="contentinfo">
            <p>© Copyright 2016, Allied Industries.</p>
        </div>
    </footer>
{% endblock %}
