{% extends 'doc_base.html.twig' %}

{% block body %}
<div class="article_not_found">
    <h1>Topic not found.</h1>
    The requested topic '{{topic_slug}}' was not found.
</div>
<footer>
    <hr>
    <div role="contentinfo">
        <p>© Copyright 2016, Allied Industries.</p>
    </div>
</footer>
{% endblock %}
