<p>A recent request has been made to reset your password on AmSYS.  If you requested this then please use the code below to change your password.</p>
<p>If you DID NOT request this then please ignore this email</p>
<p>{{reset_code}}</p>
<p>Thanks,</br>
    Fecal Matters</br>
<a href="{{absolute_url(path('homepage'))}}"><b>Am</b>SYS</a></p>
